body {
    font-family: arial;
}

#hero {
    height: 400px;
    background-image: url("./splash.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-box {
    
    display: flex;
    align-items: center;
}
.hero-text {
    color: purple;
    font-size: 56px;
    font-weight: lighter;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    row-gap: 10px;
    margin: 0 40px;

}

.about-content {
    width:400px;
}